#date,#time {
	background-color: #FFF1C7;
	border-radius:5px;
	text-align:center;
	margin-left:30px;
	border-style:solid;
	border-color:black;
	border-width:1px;
	width:190px;
}

#input-field {
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	margin:auto;
	height:20%;
	width:250px;
	background-color:#FDDB5E;
	border-radius:10px;
	visibility:show;
}

.button {
	background-color:#F9A51A;
	height:30%;
	width:22%;
	display:inline-block;
	margin:auto;
	margin-left:7%;
	font-size:1.8em;
	padding:0.1em;
	text-align:center;
	border-radius:20px;
	border-width:5px;
	border-color:#C85D19;
	border-style: solid;
}

.button:hover {
	cursor:pointer;
	border-color:#9F3019;
	background-color:#FAB957;
	
}

.button-container {
	padding:0.2em;
	height:30%;
	width:600px;;
	margin:auto;
	margin-top:0.1em;
	
}

.box {
	color:white;
	border-width:3px;
	border-color:black;
	border-style: solid;
	height:60px;
	width:70px;
	font-size:40px;
	border-radius:10px;
	background-color:#0F1427;
	text-align:center;
	padding:5px;
	margin:auto;
	margin-top:12px;
	margin-bottom:3px;
}

.sm-container{
	color:white;
	font-size:24px;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-color:blue;
	border-radius:10px;
	height:130px;
	width:110px;
	display:inline-block;
	margin:22px;
	margin-left:34px;
	background-color:#123E6F;
}

#container {
	background-color:#1A609C;
	top:10%;
	margin:auto;
	border-width:5px;
	border-color:#152040;
	border-style: solid;
	border-radius:16px;
	height:20%;
	width:700px;
}

h1 {
	color:white;
}

body {
	font-family:Tahoma,Helvetica,Arial,sans-serif;
}

@media (max-width: 700px) {
    .button {
	width:40%;
	display:block;
	margin:auto;
    margin-top:8px;
}


.button-container {
	padding:0.1em;
	height:30%;
	width:100%;
	margin:auto;
}

#container {
	top:10%;
	margin:auto;
	width:50%;
}
.sm-container{
	display:block;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
}

#input-field{
	width:60%;
	padding-top:5px;
	padding-left:40px;
	padding-bottom:8px;
}

#date,#time {
	width:140px;
}


}
